<!DOCTYPE html>
<html>
  <head>
    <title>Something cool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h3>Thank you <%= subscriber.name %> for subscribing to our newsletter</h3>
    <p>You have successfully subscribed to our newsletter! A welcome email has been sent to your mail.
      You will now receive weekly updates on stuff
    </p>
  </body>
</html>
